
<template>
  <h2>A simple counter app</h2>
  <h1 class="counter">{{counter}}</h1>
  <div>
    <button @click="increment" class="btn">+</button>
    &nbsp;
    <button @click="decrement" class="btn">-</button>
  </div>
</template>

<script lang="ts">
export default {
  data() {
    return {
      // counter represents the counter-value at the moment
      counter: 0,
    };
  },
  methods: {
    increment: function():Number {
      this.counter++;
      return this.counter;
    },
    decrement: function():Number {
      this.counter--;
      if (this.counter < 0) {
        this.counter = 0;
      }
      return this.counter;
    },
  },

}
</script>

<style scoped>
.counter {
  color: #ffff44;
}
.btn {
  padding-left: 60px;
  padding-right: 60px;
}
.btn:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
/*.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vue:hover {
  filter: drop-shadow(0 0 2em #42b883aa);
}*/
</style>
